*{
    margin: 0;
    padding: 0;
    list-style: none;


}
html,body,.box{
    width: 100%;
    background: #EEEEEE;
    height: 100%;
    overflow-x: hidden;

}
html{
    font-size: 62.5%;
}
.box{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;


}
a{
    text-decoration: none;
    color: #000;
}
%qjz{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: 4rem;
    background: #06c1ae;
    display: flex;
    a{
        flex:1;
        em{
            margin-top: 0.5rem;
            font-style: normal;
            font-size: 1.4rem;
            color:white;
            display: block;
            text-align: center;


        }
     b{
        font-size: 1.4rem;
        color:white;
        display: block;
        text-align: center;


     }
    }
  span{
    flex:1;
    text-align: center;
    font-size: 1.6rem;
    color:white;
    line-height: 4rem;
    b{
        font-weight: lighter;
        font-size: 1.2rem!important;


    }


  }
  p{
    background: #05a494;
    flex:3;
    color:white;
    margin-top: 0.5rem;
    height: 3rem;
    line-height: 2.9rem;
    input{
        width: 85%;
        margin-left: 0.5rem;
        height: 3rem;
        background: #05a494;
        border:none;
        color:white;
        outline: none;
    }
  }
}
section{
    flex:1;
    overflow-y: scroll;
    .banner{
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
            display: block;

        }
    }
    .center{
        background: white;
        overflow: hidden;

    ul{
        width: 100%;
        height: 12rem;
        display: flex;
        flex-wrap: wrap;
        background: white;
        li{
            flex-basis: 20%;
            img{
                width: 4rem;
                height: auto;
                display: block;
                margin: 0 auto;

            }
            span{
                display: block;
                text-align: center;
                font-size: 1.4rem;


            }
        }

    }
    ol{
        width: 30%;
        margin: 0 auto;
        overflow: hidden;

       li{


        width: 1rem;
        height: 1rem;
        display: block;
        border-radius: 50%;
        float: left;
        margin-left: 15%;

        background:#05a494;


       }
    }
}
.middle{
    margin-top: 0.5rem;
    width: 100%;
    background: white;
    overflow: hidden;
   ul{
    width: 100%;
    li{
        display: flex;
        width: 100%;
        span{
            flex:1;
            font-size: 1.6rem;
            color:#84bd52;
            text-align: center;

            &:nth-child(2){
                color:#f60;
            }
             &:nth-child(3){
                color:#f742a0;
            }
        }
        a{
            margin-top:0.5rem;
            flex:1;
            font-size: 1.2rem;
            text-align: center;

        }
        img{
            margin-left: 1rem;
            width: 98%;
            height: auto;
            margin: 0 auto;
            display: block;
            margin-bottom: 0.5rem;

        }
    }
   }
}
.bottom{
    margin-top: 0.5rem;
    background: white;
    width: 100%;
    h2{
        font-size: 1.8rem;
        font-weight: normal;
        margin:0 0.5rem;

        line-height: 2.5rem;
        border-bottom: 0.1rem solid #ccc;
    }
    dl{

        margin:0.5rem 1%;
        width: 98%;
        display: flex;
         border-bottom: 0.1rem solid #ccc;
        dd{
           flex:1;
           img{
            width: 95%;
            height: auto;
            display: block;
            margin: 0 auto;

           }
         }
       dt{
         flex:3;
         b{
            font-size: 1.8rem;
            font-weight: normal;

            display: block;

         }
         span{
            font-size: 1.0rem;
            display: block;
            margin: 0.5rem 0;

         }
         a{
            display: block;
            font-size: 1.2rem;
            i{
                font-style: normal;
                font-size: 1.6rem;
                color:#08c1af;
                font-weight: bold;
            }
            em{
                float: right;
                margin-right: 1rem;
                font-size: 1.4rem;
                font-style: normal;

            }

         }

         }
    }

}
.down{
    bottom: 0;
    position: absolute;

        width: 100%;
        overflow: hidden;

        background:rgba(0,0,0,0.5);
     ul{
        display: flex;
        li{
            flex:2;
            &:first-child{
                flex:1;
            }
            img{
                margin: 0.5rem;
                width: 4rem;
                height: auto;
            }
            span{
                margin: 0.5rem 0;
                font-size: 1.4rem;
                color:white;
                display: block;
            }
            em{
                margin-left: 1rem;
                margin-top: 1rem;
                width: 6rem;
                text-align: center;

                font-size: 1.6rem;
                display: block;

                color:#08c1af;
                font-style: normal;
                padding:0.2rem;
                border:0.1rem solid #08c1af;
                border-radius: 10%;
            }
        }
     }
    }



}
footer{
    width: 100%;
    height: 4rem;
}